<h1>Editing Book</h1>
<%= form_with model: @book, url:update_book_path(@book.id), method: :patch, local:true do |f| %>
<div class="area">
    <p>本のタイトル</p>
    <%= f.text_field :title %>
</div>
<div class="area">
    <p>感想</p>
    <%= f.text_area :body %>
</div>
<div class="toukou">
    <%= f.submit 'Update Book' %>
</div>
<%= link_to "Show", book_path(@book.id) %>
|
<a href="/books">Back</a>
<% end %>